
<!DOCTYPE html>

<html style="
    height: 100%;
    width: 100%;">
    <head>
        <title>Gracias por postularte!</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
              <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
	<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body style="margin: 0px;">
        <div class="body">
        <div class="header"> 
            <h1 class="title"> recruIT</h1>
        </div>
            <div class="body__thanks__message">
                <h1 class="thanks__message">Gracias por postularte!</h1>
            </div>
        </div>
    </body>
</html>

